In [1]:
import pandas as pd
import numpy as np
import math
import datetime
import time
import warnings
from ipynb.fs.defs.functions import new_route
from ipynb.fs.defs.functions import get_row
from ipynb.fs.defs.functions import get_column
from ipynb.fs.defs.functions import getName
from ipynb.fs.defs.functions import timeDistance
from ipynb.fs.defs.functions import best_index
from ipynb.fs.defs.functions import find_best_position
from ipynb.fs.defs.functions import cities_list
from ipynb.fs.defs.functions import random_schedule_day
warnings.filterwarnings('ignore')

table=pd.read_csv("../Dati/orari/route.csv", delimiter=";")
time_table=pd.read_csv("../Dati/orari/route_time.csv", delimiter=";")
dft = pd.read_csv("../Dati/distanze/corrected_times_computed.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
dfd = pd.read_csv("../Dati/distanze/distances_computed.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)

In [2]:
#(inizio e fine compresi)
#Ritorna una lista contenente le chiavi di due città e il tempo di percorrenza tra le due
#nel formato (times, "key1 - key2")
#"key1 - key2" è la chiave
#La lista partirà dalla posizione "inizio" della schedulazione e finità con "fine"
def route(schedule, inizio, fine, dft):
    times = []
    keys = []
    row = dft[get_row(dft, schedule[inizio]).values]
    key1 = ''
    key2 = ''
    impossibile = []
    
    for i in range(inizio+1,fine+1):
        key1 = row.index[0]
        try:
            paese=schedule[i]
            if 'Martignana' in paese:
                paese = 'Martignana di Po'
        except:
            continue
        #Distanze in tempo dal paese corrente di ognuno dei furgoni alla destinazione
        value=row.loc[:,get_column(dft, paese).values].values[0][0]
        times.append(round(value))
        row = dft[get_row(dft, paese).values]
        key2 = row.index[0]
        keys.append(key1 + ' $ ' + key2)
    
    steps_times1 = pd.Series(times , keys)
    return steps_times1

In [3]:
#Datogli una schedulazione calcola il tempo di percorrenza
def schedule_time(schedule, dft):
    times = []
    row = dft[get_row(dft, 'Cremona, sesto 39').values]

    for i in range(1, len(schedule)):
        paese=schedule[i]
        if 'Martignana' in paese:
            paese = 'Martignana di Po'

        value=row.loc[:,get_column(dft, paese).values].values[0][0]
        times.append(round(value))
        
        row = dft[get_row(dft, paese).values]
    return sum(times)

In [4]:
#mantiene il nodo inizial e il successivo a y invariati, mentre fa il reverse della lista tra i due
#A-b-c-d-E -> A-d-c-b-E
def cross(schedule, x, y):
    i = [schedule[x]]
    j1 = [schedule[y+1]]
    j1_i1 = list(schedule[x+1: y+1].sort_index(ascending = False).values) 
    return i + j1_i1 + j1

In [5]:
#Data una schedulazione e due nodi di cui fare l'incrocio dei nodi
#effettua la tabulazione del nuovo percorso, dopodichè restituisce il migliore
#tra il nuovo e il vecchio
def two_opt(schedule , i, j, dft):
    #computo la prima parte che rimane uguale
    first_part = route(schedule, 0, i, dft)

    #stesso per l'ultima
    final_part = route(schedule, j+1, len(schedule), dft)
    #print(final_part)
    crossed = cross(schedule, i, j)
    central_part = route(crossed, 0,len(crossed), dft)
    
    new_schedule = first_part.append(central_part).append(final_part)
    if(schedule_time(schedule, dft)> sum(new_schedule.values)):
        return new_schedule
    else:
        return route(schedule, 0, len(schedule), dft)

In [6]:
#Datogli una schedulazione calcola il tempo di percorrenza
def schedule_time(schedule, dft):
    times = []
    row = dft[get_row(dft, schedule[0]).values]

    for i in range(1, len(schedule)):
        paese=schedule[i]
        if 'Martignana' in paese:
            paese = 'Martignana di Po'

        value=row.loc[:,get_column(dft, paese).values].values[0][0]
        times.append(round(value))
        
        row = dft[get_row(dft, paese).values]
    return sum(times)

In [12]:
idx = dft.index[0:35]
dft = pd.read_csv("../Dati/distanze/synthetic_costs.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
dft.columns = idx[:]
dft.index = idx[:]
tries = range(5, 36, 5)
# benchmark_time_s = pd.read_csv("../Dati/altro/synt_benchmark.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
# benchmark_time_s = pd.concat([benchmark_time_s, pd.Series(index=["2opt"], dtype=float)])[[str(x) for x in tries]]
benchmark_counter_s = pd.read_csv("../Dati/altro/synt_benchmark_counter.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
benchmark_counter_s = pd.concat([benchmark_counter_s, pd.Series(index=["2opt2"], dtype=float)])[[str(x) for x in tries]]

for n in tries:
    print(n)
    tot = 0
    counter=0
    schedule = random_schedule_day(dft, n)

    schedule.insert(0, "Agnadello, Marconi, 6")
    schedule.append("Agnadello, Marconi, 6")

    best_schedule = pd.Series(schedule)
    best_time = schedule_time(schedule, dft)
    local_best_time = best_time
    
    while(True):
        startime = time.time()
        for i in range(1, len(schedule)-2):
            for j in range(i+1, len(schedule)-1):
                s = two_opt(pd.Series(schedule), i, j, dft)
                t = sum(s.values)
                if schedule_time(best_schedule, dft)> t:
                    best_time = t.copy()
                    best_schedule = cities_list(s) 
        counter += 1
        tot += (time.time() - startime)
        if(local_best_time>best_time):
            schedule = best_schedule[:]
            local_best_time = best_time
        else:
            break
        
    benchmark_counter_s[str(n)]["2opt2"] = counter
#     benchmark_time_s[str(n)]["2opt"] = round(tot/counter, 3)
    print(counter)

5
2
10
6
15
12
20
14
25
18
30
22
35
28

In [66]:
benchmark_counter_s

          5     10    15      20      25      30      35
LS    2.667  7.667  12.0  15.667  18.333  23.333  27.333
2opt  3.000  6.000  10.0  17.000  19.000  29.000  33.000
2opt    NaN    NaN   NaN     NaN     NaN     NaN  33.000

In [7]:
pd.read_csv("../Dati/distanze/synthetic_costs.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,0.00,44.05,75.77,43.46,43.42,79.92,38.60,47.68,86.82,70.94,...,8.06,32.70,34.01,48.92,73.11,84.01,15.03,68.88,58.86,49.25
1,44.05,0.00,36.01,45.40,8.06,77.82,39.12,38.28,78.24,26.91,...,52.01,61.68,14.32,65.03,78.16,51.24,56.94,35.11,30.00,27.46
2,75.77,36.01,0.00,54.92,32.98,71.03,51.86,43.57,65.62,23.35,...,83.77,82.04,41.79,76.16,77.28,20.62,90.14,13.34,22.47,31.89
3,43.46,45.40,54.92,0.00,38.05,37.54,6.71,11.40,43.38,64.54,...,48.76,29.97,32.28,21.54,34.00,52.43,57.28,42.64,32.45,23.77
4,43.42,8.06,32.98,38.05,0.00,69.78,32.02,30.36,70.21,29.68,...,51.48,56.80,9.90,58.31,70.34,45.71,57.38,29.43,22.83,19.42
5,79.92,77.82,71.03,37.54,69.78,0.00,43.84,39.96,12.53,89.11,...,84.08,56.29,67.12,36.35,13.00,57.01,92.57,58.01,52.95,50.70
6,38.60,39.12,51.86,6.71,32.02,43.84,0.00,10.44,48.88,59.48,...,44.55,30.61,25.71,26.48,40.71,51.88,52.95,40.36,29.70,20.00
7,47.68,38.28,43.57,11.40,30.36,39.96,10.44,0.00,42.52,54.45,...,54.15,40.50,27.20,32.65,40.02,41.68,62.39,31.24,21.10,13.15
8,86.82,78.24,65.62,43.38,70.21,12.53,48.88,42.52,0.00,85.73,...,91.76,66.27,69.31,47.01,25.50,49.16,100.30,53.37,50.57,50.80
9,70.94,26.91,23.35,64.54,29.68,89.11,59.48,54.45,85.73,0.00,...,78.87,86.35,39.41,85.87,93.02,43.93,83.49,32.70,36.22,41.30
10,81.94,73.50,62.20,38.48,65.46,11.40,43.91,37.54,5.00,81.74,...,86.98,62.07,64.38,43.19,23.60,46.69,95.52,49.65,46.24,46.04
11,49.40,75.71,91.26,36.40,69.92,50.16,39.82,47.80,61.81,98.79,...,48.88,16.76,61.39,16.64,38.01,87.78,55.80,79.03,68.82,59.68
12,84.12,41.76,11.70,66.37,40.71,82.22,63.01,55.07,76.16,20.88,...,92.18,92.85,50.25,87.71,88.84,28.46,97.99,25.00,34.00,43.01
13,18.68,54.38,80.21,35.01,51.09,67.42,32.76,43.17,76.16,80.60,...,18.44,14.42,41.23,33.02,58.67,83.93,26.25,70.71,59.94,49.65
14,50.80,24.84,28.28,27.86,16.97,54.08,23.85,17.26,53.54,37.22,...,58.46,53.76,19.65,49.40,56.32,33.24,65.76,18.38,8.06,4.12
15,50.22,57.43,64.85,12.04,50.09,29.97,18.44,21.84,38.64,76.12,...,54.12,28.02,44.15,12.04,23.43,59.40,62.61,51.97,42.54,34.93
16,45.19,70.61,86.61,31.89,64.85,49.01,34.99,43.28,60.21,93.78,...,45.22,12.53,56.29,13.60,37.48,83.74,52.50,74.52,64.20,54.92
17,77.67,60.83,45.40,36.01,53.04,27.20,39.32,30.08,20.22,65.79,...,83.86,64.54,54.08,48.75,36.89,29.83,92.23,33.24,31.62,34.21
18,63.56,50.48,43.74,22.20,42.44,28.64,25.18,16.16,27.80,60.53,...,69.72,51.55,41.77,37.80,33.54,34.21,78.09,30.41,24.33,23.02
19,31.14,66.65,89.94,39.56,62.68,65.92,39.45,49.65,76.16,92.36,...,28.79,10.05,53.00,29.61,55.36,91.30,34.99,79.40,68.60,58.41
20,26.68,28.07,64.07,54.82,32.39,92.02,48.27,53.26,95.78,52.00,...,32.70,56.44,27.73,68.15,88.48,78.09,34.21,61.81,54.41,47.85
21,56.61,13.00,24.33,50.36,14.42,78.16,44.91,41.01,76.49,15.26,...,64.64,71.12,24.21,71.39,80.62,42.06,69.84,27.02,25.94,28.16
22,41.23,20.59,54.74,60.01,27.80,95.41,53.31,55.47,97.19,38.83,...,47.89,68.07,28.30,76.69,93.94,71.51,49.82,55.54,50.48,46.67
23,23.32,52.80,75.93,28.16,48.55,60.17,26.57,37.00,68.88,78.23,...,24.84,10.05,38.95,26.25,51.62,78.29,33.02,65.73,54.92,44.65
24,84.05,40.31,19.03,71.18,41.11,90.01,67.12,60.17,84.59,15.13,...,92.09,96.02,50.99,92.70,95.89,37.70,97.25,32.06,39.56,47.42
25,8.06,52.01,83.77,48.76,51.48,84.08,44.55,54.15,91.76,78.87,...,0.00,32.80,42.05,51.09,76.28,91.59,8.54,76.66,66.49,56.72
26,32.70,61.68,82.04,29.97,56.80,56.29,30.61,40.50,66.27,86.35,...,32.80,0.00,47.54,20.25,46.24,82.15,40.31,70.94,60.21,50.21
27,34.01,14.32,41.79,32.28,9.90,67.12,25.71,27.20,69.31,39.41,...,42.05,47.54,0.00,51.01,65.92,52.01,48.38,36.06,27.29,20.12
28,48.92,65.03,76.16,21.54,58.31,36.35,26.48,32.65,47.01,85.87,...,51.09,20.25,51.01,0.00,26.00,71.42,59.20,63.51,53.71,45.31
29,73.11,78.16,77.28,34.00,70.34,13.00,40.71,40.02,25.50,93.02,...,76.28,46.24,65.92,26.00,0.00,65.80,84.60,63.95,57.04,52.47
30,84.01,51.24,20.62,52.43,45.71,57.01,51.88,41.68,49.16,43.93,...,91.59,82.15,52.01,71.42,65.80,0.00,98.99,16.28,25.18,34.93
31,15.03,56.94,90.14,57.28,57.38,92.57,52.95,62.39,100.30,83.49,...,8.54,40.31,48.38,59.20,84.60,98.99,0.00,83.74,73.82,64.28
32,68.88,35.11,13.34,42.64,29.43,58.01,40.36,31.24,53.37,32.70,...,76.66,70.94,36.06,63.51,63.95,16.28,83.74,0.00,10.82,21.10
33,58.86,30.00,22.47,32.45,22.83,52.95,29.70,21.10,50.57,36.22,...,66.49,60.21,27.29,53.71,57.04,25.18,73.82,10.82,0.00,10.30
34,49.25,27.46,31.89,23.77,19.42,50.70,20.00,13.15,50.80,41.30,...,56.72,50.21,20.12,45.31,52.47,34.93,64.28,21.10,10.30,0.00

In [9]:
benchmark_time_s

            5     10      15      20      25      30      35
LS      0.122  0.781   1.808   3.635   5.422   8.785  10.957
greedy  0.028  0.122   0.244   0.412   0.776   1.041   1.684
2opt    0.624  4.639  15.643  37.000  67.034  99.655     NaN

In [11]:
benchmark_counter_s.to_csv("../Dati/altro/synt_benchmark_counter.csv", sep=";", encoding = "ISO-8859-1")
benchmark_time_s.to_csv("../Dati/altro/synt_benchmark.csv", sep=";", encoding = "ISO-8859-1")

In [67]:
import matplotlib.pyplot as plt
plt.figure(figsize=[7,7])
plt.plot(benchmark.loc["2opt"], "bo-")
plt.show()
benchmark.to_csv("../Dati/altro/benchmark.csv", sep=";", encoding = "ISO-8859-1")

NameError: name 'benchmark' is not defined

In [6]:
pd.read_csv("../Dati/turni_f/fine_optimized_start/foss_ls1.csv", delimiter=";", encoding = "ISO-8859-1")

,lunedi,martedi,mercoledi,giovedi,venerdi
0,"Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39"
1,"Izano, Gerardo da Izano, 4/C","Grumello Cremonese ed Uniti, Roma, 2","Sesto ed Uniti, Roma, 4","Annicco, Giuseppe Garibaldi, 6","Cremona, Sesto 39"
2,"Crema, Civerchi, 9","Pizzighettone, Giuseppe Garibaldi, 18","Pizzighettone, Giuseppe Garibaldi, 18","Paderno Ponchielli, Municipio, 3","Cremona, Ugolani Dati, 4"
3,"Capergnanica, XI febbraio, 7","Ostiano, Mazzini, 1","Casalpusterlengo, Pusterla 7","Soresina, Giacomo Matteotti, 6","Gadesco-Pieve Delmona, Giovanni Lonati 9"
4,"Bagnolo Cremasco, Roma, 3",NaN,"Montodine, XXV Aprile, 10","San Bassano, Mons. Frosi","Grontardo, Roma, 16"
5,"Vaiano Cremasco, Gloriosi Caduti, 3",NaN,"Ripalta Cremasca, Roma, 5","Castelleone, Roma, 67","Isola Dovarese, Giacomo Matteotti, 1"
6,"Dovera, Oldrini 2",NaN,"Crema, Civerchi, 9","Fiesco, Giuseppe Parini, 10","Piadena, Platina, 40"
7,"Spino d'Adda, Circonvallazione, 13",NaN,"Pianengo, Nenni","Romanengo, Guaiarini, 14","Solarolo Rainerio, Giuseppina, 81"
8,"Agnadello, Marconi, 6",NaN,"Ricengo, Guglielmo Marconi","Soncino, Dante Alighieri, 23","Cingia de' Botti, Giuseppina, 79"
9,"Trescore Cremasco, Vittorio Veneto, 1",NaN,"Offanengo, Clavelli Martini, 5","Camisano, Trieste, 57","Casalmaggiore, Guglielmo Marconi, 8"
10,"Casaletto Vaprio, Maggiore, 7",NaN,"Soncino, Dante Alighieri, 23","Madignano, Portici, 4","Martignana di Po, Libertà, 64"
11,"Ostiano, Mazzini, 1",NaN,"Soresina, Giacomo Matteotti, 6","Crema, Civerchi, 9","Manerbio, INSURREZIONE NAZIONALE"
12,NaN,NaN,"Cremona, Ugolani Dati, 4","Palazzo Pignano, Marco Polo, 31","Offanengo, Clavelli Martini, 5"
13,NaN,NaN,"Bonemerse, Roma, 25","Pandino, Castello, 15","Crema, Civerchi, 9"
14,NaN,NaN,"Sospiro, Tosi","Rivolta d'Adda, Stefano Renzi, 5","Pandino, Castello, 15"
15,NaN,NaN,"Manerbio, INSURREZIONE NAZIONALE","Spino d'Adda, Circonvallazione, 13","Rivolta d'Adda, Stefano Renzi, 5"
16,NaN,NaN,"Vailate, Dante Alighieri, 7","Casalpusterlengo, Pusterla 7","Pizzighettone, Giuseppe Garibaldi, 18"
17,NaN,NaN,"Monte Cremasco, Roma, 12","Ostiano, Mazzini, 1","Ostiano, Mazzini, 1"
18,NaN,NaN,"Ostiano, Mazzini, 1",NaN,NaN

In [6]:
#TIME 2-OPT
week= ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi']
#results = pd.read_csv("../Dati/altro/computational_times_FOSS.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
#results = pd.concat([results, pd.Series(index=["2opt"])])
fur1 = pd.read_csv("../Dati/turni_f/random_schedule/random_ls_f1.csv", delimiter=";", encoding = "ISO-8859-1")
df = pd.DataFrame({})
for day in week:
    print(day)
    #Otteniamo la schedulazione unendo Cremona-tabella del giorno-Ostiano
    #schedule = pd.Series('Cremona, sesto 39')
    schedule = fur1[day].dropna()
    #schedule = schedule.append(pd.Series('Ostiano, Mazzini, 1' , [len(schedule)]))
    #print(schedule)
    #Otteniamo la schedulazione filtrando i nan e salviamo anche il suo tempo di percorrenza
    best_schedule = pd.Series(schedule.dropna())
    best_time = schedule_time(schedule, dft)
    local_best_time = best_time
    #Per ogni i e j effettua il 2-opt e salva se il risultato migliora con lo scambio
    #Alla fine, avendo provato a scambiare tutte le coppie e avendole confrontate otteremo la miglior schedulazione
    #per ogni giro di 2-opt parte dalla schedulazione greedy
    count = 0
    tot = 0
    while(True):
        #startime = time.time()
        for i in range(1, len(schedule)-2):
            for j in range(i+1, len(schedule)-1):
                s = two_opt(pd.Series(schedule), i, j, dft)
                t = sum(s.values)
                if schedule_time(best_schedule, dft)> t:
                    best_time = t.copy()
                    best_schedule = cities_list(s) 
        #tot += (time.time() - startime)
        #count += 1
        if(local_best_time>best_time):
            schedule = best_schedule[:]
            local_best_time = best_time
        else:
            break
    df = pd.concat([df, pd.DataFrame(pd.Series(best_schedule).rename(day))], axis=1)
    #results[day]["2opt"]=(round((tot/count),3), len(fur1[day].dropna())-2, count)
df.to_csv('../Dati/turni_f/random_schedule/random_2opt_f1.csv', index=False, sep=";", encoding = "ISO-8859-1")
df

lunedi
martedi
mercoledi
giovedi
venerdi

,lunedi,martedi,mercoledi,giovedi,venerdi
0,"Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39"
1,"Castelverde, Ubaldo Ferrari, 15","Paderno Ponchielli, Municipio, 3","San Bassano, Mons. Frosi","Cremona, Sesto 39","Persico Dosimo, Albert ,7"
2,"Cremona, Ugolani Dati, 4","Soresina, Giacomo Matteotti, 6","Castelleone, Roma, 67","Sesto ed Uniti, Roma, 4","Gadesco-Pieve Delmona, Giovanni Lonati 9"
3,"Casalpusterlengo, Pusterla 7","Izano, Gerardo da Izano, 4/C","Crema, Civerchi, 9","Grumello Cremonese ed Uniti, Roma, 2","Rivolta d'Adda, Stefano Renzi, 5"
4,"Bagnolo Cremasco, Roma, 3","Crema, Civerchi, 9","Trescore Cremasco, Vittorio Veneto, 1","Annicco, Giuseppe Garibaldi, 6","Ricengo, Guglielmo Marconi"
5,"Ripalta Cremasca, Roma, 5","Vaiano Cremasco, Gloriosi Caduti, 3","Palazzo Pignano, Marco Polo, 31","Casalpusterlengo, Pusterla 7","Madignano, Portici, 4"
6,"Soresina, Giacomo Matteotti, 6","Monte Cremasco, Roma, 12","Pandino, Castello, 15","Montodine, XXV Aprile, 10","Castelleone, Roma, 67"
7,"Soncino, Dante Alighieri, 23","Dovera, Oldrini 2","Agnadello, Marconi, 6","Capergnanica, XI febbraio, 7","Pizzighettone, Giuseppe Garibaldi, 18"
8,"Manerbio, INSURREZIONE NAZIONALE","Pandino, Castello, 15","Capralba, Piave, 2","Spino d'Adda, Circonvallazione, 13","Sospiro, Tosi"
9,"Gadesco-Pieve Delmona, Giovanni Lonati 9","Rivolta d'Adda, Stefano Renzi, 5","Pianengo, Nenni","Crema, Civerchi, 9","Solarolo Rainerio, Giuseppina, 81"
10,"Grontardo, Roma, 16","Vailate, Dante Alighieri, 7","Camisano, Trieste, 57","Sergnano, IV Novembre, 10","Isola Dovarese, Giacomo Matteotti, 1"
11,"Gussola, Comaschi, 1","Casaletto Vaprio, Maggiore, 7","Offanengo, Clavelli Martini, 5","Offanengo, Clavelli Martini, 5","Pescarolo ed Uniti, Giuseppe Mazzini, 73"
12,"San Giovanni in Croce, Feudatari, 25 A","Casale Cremasco-Vidolasco, Roma, 56","Fiesco, Giuseppe Parini, 10","Romanengo, Guaiarini, 14","Ostiano, Mazzini, 1"
13,"Ostiano, Mazzini, 1","Casalmaggiore, Guglielmo Marconi, 8","Trigolo, Roma, 26","Soncino, Dante Alighieri, 23",NaN
14,NaN,"Viadana, A. Manzoni, 2","Pizzighettone, Giuseppe Garibaldi, 18","Casalbuttano ed Uniti, Jacini, 23",NaN
15,NaN,"Ostiano, Mazzini, 1","Cremona, Felice Cavallotti, 2","Ostiano, Mazzini, 1",NaN
16,NaN,NaN,"Manerbio, INSURREZIONE NAZIONALE",NaN,NaN
17,NaN,NaN,"Ostiano, Mazzini, 1",NaN,NaN

In [10]:
results = results[fur1.columns]
results.to_csv("../Dati/altro/computational_times_FOSS.csv", sep=";", encoding = "ISO-8859-1")
results

,lunedi,martedi,mercoledi,giovedi,venerdi
greedy,"(0.069, 10)","(0.016, 3)","(0.312, 16)","(0.249, 14)","(0.165, 16)"
LS,"(0.0, 10, 1)","(0.0, 2, 1)","(0.0, 17, 1)","(1.496, 16, 2)","(1.546, 16, 2)"
2opt,"(4.692, 10, 2)","(0.03, 2, 1)","(23.985, 17, 6)","(25.002, 16, 1)","(20.613, 16, 8)"

In [7]:
week= ['martedi', 'mercoledi', 'giovedi']
fur2 = pd.read_csv("../Dati/turni_f/random_schedule/random_ls_f2.csv", delimiter=";", encoding = "ISO-8859-1")
df = pd.DataFrame({})
for day in week:
    print(day)
    #schedule = pd.Series('Cremona, sesto 39')
    schedule = fur2[day].dropna()
    #schedule = schedule.append(pd.Series('San Giovanni in Croce, Feudatari, 25 A' , [len(schedule)]))
    #print(schedule)
    best_schedule = pd.Series(schedule.dropna())
    best_time = schedule_time(schedule, dft)
    local_best_time = best_time
    while(True):
        for i in range(1, len(schedule)-2):
            for j in range(i+1, len(schedule)-1):
                s = two_opt(pd.Series(schedule), i, j, dft)
                t = sum(s.values)
                if schedule_time(best_schedule, dft)> t:
                    best_time = t.copy()
                    best_schedule = cities_list(s) 
        if(local_best_time>best_time):
            schedule = best_schedule[:]
            local_best_time = best_time
        else:
            break 
    df = pd.concat([df, pd.DataFrame(pd.Series(best_schedule).rename(day))], axis=1)        
df.to_csv('../Dati/turni_f/random_schedule/random_2opt_f2.csv', index=False, sep=";", encoding = "ISO-8859-1")
df

martedi
mercoledi
giovedi

,martedi,mercoledi,giovedi
0,"Cremona, Sesto 39","Cremona, Sesto 39","Cremona, Sesto 39"
1,"Pizzighettone, Giuseppe Garibaldi, 18","Persico Dosimo, Albert ,7","Cremona, Ugolani Dati, 4"
2,"Cremona, Ugolani Dati, 4","Spino d'Adda, Circonvallazione, 13","Cremona, Palosca n. 2"
3,"Cingia de' Botti, Giuseppina, 79","Crema, Civerchi, 9","Bonemerse, Roma, 25"
4,"Solarolo Rainerio, Giuseppina, 81","Vescovato, Roma, 44","Vescovato, Roma, 44"
5,"Casalmaggiore, Guglielmo Marconi, 8","Pescarolo ed Uniti, Giuseppe Mazzini, 73","Ostiano, Mazzini, 1"
6,"Martignana di Po, Libertà, 64","Ostiano, Mazzini, 1","Piadena, Platina, 40"
7,"Piadena, Platina, 40","San Giovanni in Croce, Feudatari, 25 A","Rivarolo del Re ed Uniti, Giovanni XXIII, 5"
8,"San Giovanni in Croce, Feudatari, 25 A",NaN,"Scandolara Ravara, Italia"
9,"San Giovanni in Croce, Feudatari, 25 A",NaN,"San Giovanni in Croce, Feudatari, 25 A"

In [11]:
#KM 2-OPT
week= ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi']
df = pd.DataFrame({})
for day in week:
    print(day)
    #Otteniamo la schedulazione unendo Cremona-tabella del giorno-Ostiano
    #schedule = pd.Series('Cremona, sesto 39')
    schedule = fur1d[day].dropna()
    #schedule = schedule.append(pd.Series('Ostiano' , [len(schedule)]))
    #print(schedule)
    #Otteniamo la schedulazione filtrando i nan e salviamo anche il suo tempo di percorrenza
    best_schedule = pd.Series(schedule.dropna())
    best_time = schedule_time(schedule, dfd)
    local_best_time = best_time
    #Per ogni i e j effettua il 2-opt e salva se il risultato migliora con lo scambio
    #Alla fine, avendo provato a scambiare tutte el coppie e avendole confrontate otteremo la miglior schedulazione
    #per ogni giro di 2-opt parte dalla schedulazione greedy
    while(True):
        for i in range(1, len(schedule)-2):
            for j in range(i+1, len(schedule)-1):
                s = two_opt(pd.Series(schedule), i, j, dfd)
                t = sum(s.values)
                if schedule_time(best_schedule, dfd)> t:
                    best_time = t.copy()
                    best_schedule = cities_list(s) 
        if(local_best_time>best_time):
            schedule = best_schedule[:]
            local_best_time = best_time
        else:
            break
    df = pd.concat([df, pd.DataFrame(pd.Series(best_schedule).rename(day))], axis=1)       
df.to_csv('../Dati/turni_f/optimized_start/oss_2opt_km_f1.csv', index=False, sep=";", encoding = "ISO-8859-1")

lunedi
martedi
mercoledi
giovedi
venerdi

In [12]:
week= ['martedi', 'mercoledi', 'giovedi']
df = pd.DataFrame({})
for day in week:
    print(day)
    #schedule = pd.Series('Cremona, sesto 39')
    schedule = fur2d[day].dropna()
    #schedule = schedule.append(pd.Series('San Giovanni in Croce, Feudatari, 25 A' , [len(schedule)]))
    #print(schedule)
    best_schedule = pd.Series(schedule.dropna())
    best_time = schedule_time(schedule, dfd)
    local_best_time = best_time
    while(True):
        for i in range(1, len(schedule)-2):
            for j in range(i+1, len(schedule)-1):
                s = two_opt(pd.Series(schedule), i, j, dfd)
                t = sum(s.values)
                if schedule_time(best_schedule, dfd)> t:
                    best_time = t.copy()
                    best_schedule = cities_list(s) 
        if(local_best_time>best_time):
            schedule = best_schedule[:]
            local_best_time = best_time
        else:
            break 
    df = pd.concat([df, pd.DataFrame(pd.Series(best_schedule).rename(day))], axis=1)        
df.to_csv('../Dati/turni_f/optimized_start/oss_2opt_km_f2.csv', index=False, sep=";", encoding = "ISO-8859-1")

martedi
mercoledi
giovedi