In [240]:
import pandas as pd
import numpy as np
import math
import datetime
import itertools

table=pd.read_csv("../Dati/orari/route.csv", delimiter=";")
time_table=pd.read_csv("../Dati/orari/route_time.csv", delimiter=";")
dft = pd.read_csv("../Dati/distanze/times_computed.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
dfd = pd.read_csv("../Dati/distanze/distances_computed.csv", delimiter=";", encoding = "ISO-8859-1", index_col=0)
fur1 = pd.read_csv("../Dati/turni_f/furgoncino1_routing.csv", delimiter=";")
fur2 = pd.read_csv("../Dati/turni_f/furgoncino2_routing.csv", delimiter=";")

def get_row(df, string):
    return pd.Series(df.index).str.contains(string, case=False)

def get_column(df, string):
    return pd.Series(df.columns).str.contains(string, case=False)

def difference(day, index, index2):
    time = datetime.datetime.strptime(time_table[day][index], '%H:%M')
    time2 = datetime.datetime.strptime(time_table[day][index2], '%H:%M')
    return ((time2-time).seconds)/60

In [301]:
#(inizio e fine compresi)
def route(schedule, inizio, fine):
    times = []
    keys = []
    row = dft[get_row(dft, schedule[inizio]).values]
    key1 = ''
    key2 = ''
    impossibile = []
    
    for i in range(inizio+1,fine+1):
        key1 = row.index[0]
        try:
            paese=schedule[i]
        except:
            continue
        #Distanze in tempo dal paese corrente di ognuno dei furgoni alla destinazione
        value=row.loc[:,get_column(dft, paese).values].values[0][0]
        times.append(round(value))
        row = dft[get_row(dft, paese).values]
        key2 = row.index[0]
        keys.append(key1 + ' - ' + key2)
    
    steps_times1 = pd.Series(times , keys)
    times1 = times[:]
    return steps_times1

def cities_list(serie):
    cities = []
    keys = serie.keys()
    for i in range(0, len(serie)):
        cities = cities + [keys[i].split('-')[0].strip()]
    return cities + [keys[i].split('-')[1].strip()]

In [236]:
def schedule_time(schedule):
    times = []
    row = dft[get_row(dft, 'Cremona, sesto 39').values]
    keys = []
    key1 = ''
    key2 = ''
    for i in range(1, len(schedule)):
        key1 = row.index[0]
        paese=schedule[i]

        value=row.loc[:,get_column(dft, paese).values].values[0][0]
        times.append(round(value))
        
        row = dft[get_row(dft, paese).values]
        key2 = row.index[0]
        keys.append(key1 + ' - ' + key2)
    steps_times = pd.Series(times , keys)
    return sum(steps_times.values)

In [237]:
schedule = pd.Series('Cremona, sesto 39')
schedule = schedule.append(fur1['lunedi'], [1, len(fur1)])
schedule = schedule.append(pd.Series('Ostiano' , [len(schedule)]))
print(schedule)
schedule_time(schedule)

0     Cremona, sesto 39
1              sesto ed
2              grumello
3              SORESINA
4               TRIGOLO
5           CASTELLEONE
6             MONTODINE
7      ripalta cremasca
8               RICENGO
9              SERGNANO
10      CASALE CREMASCO
11             CAMISANO
12             CAPRALBA
13              SONCINO
14        pizzighettone
15              Ostiano
dtype: object

196.0

In [282]:
def two_opt(schedule , i, j):
    #computo la prima parte che rimane uguale
    first_part = route(schedule, 0, i)

    #stesso per l'ultima
    final_part = route(schedule, j+1, len(schedule))
    crossed = cross(schedule, i, j)
    central_part = route(crossed, 0,len(crossed))
    
    new_schedule = first_part.append(central_part).append(final_part)
    #print(new_schedule)
    if(schedule_time(schedule)> sum(new_schedule.values)):
        return new_schedule
    else:
        return route(schedule, 0, len(schedule))

In [225]:
def cross(schedule, x, y):
    i = [schedule[x]]
    j1 = [schedule[y+1]]
    j1_i1 = list(schedule[x+1: y+1].sort_index(ascending = False).values) 
    return i + j1_i1 + j1

In [238]:
two_opt(schedule, 5, 8)

Cremona, Sesto 39 - Sesto ed Uniti, Roma, 4                              10.0
Sesto ed Uniti, Roma, 4 - Grumello Cremonese ed Uniti, Roma, 2            6.0
Grumello Cremonese ed Uniti, Roma, 2 - Soresina, Giacomo Matteotti, 6    12.0
Soresina, Giacomo Matteotti, 6 - Trigolo, Roma, 26                        9.0
Trigolo, Roma, 26 - Castelleone, Roma, 67                                11.0
Castelleone, Roma, 67 - Ricengo, Guglielmo Marconi                       17.0
Ricengo, Guglielmo Marconi - Ripalta Cremasca, Roma, 5                   12.0
Ripalta Cremasca, Roma, 5 - Montodine,  XXV Aprile, 10                    5.0
Montodine,  XXV Aprile, 10 - Sergnano, IV Novembre,  10                  20.0
Sergnano, IV Novembre,  10 - Casale Cremasco-Vidolasco, Roma, 56          4.0
Casale Cremasco-Vidolasco, Roma, 56 - Camisano, Trieste, 57               6.0
Camisano, Trieste, 57 - Capralba, Piave, 2                               15.0
Capralba, Piave, 2 - Soncino, Dante Alighieri, 23                        21.0
Soncino, Dante Alighieri, 23 - Pizzighettone, Giuseppe Garibaldi, 18     30.0
Pizzighettone, Giuseppe Garibaldi, 18 - Ostiano, Mazzini, 1              41.0
dtype: float64
ko

In [300]:
#for i in range(1, len(route)-2):
#              for j in range(i+1, len(route)):
week= ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi']
df = pd.DataFrame({})
for day in week:
    print(day)
    schedule = pd.Series('Cremona, sesto 39')
    schedule = schedule.append(fur1[day].dropna(), [1, len(fur1)])
    schedule = schedule.append(pd.Series('Ostiano' , [len(schedule)]))
    print(schedule)
    best_schedule = pd.Series(schedule.dropna())
    best_time = schedule_time(schedule)
    for i in range(1, len(schedule)-2):
        for j in range(i+1, len(schedule)-1):
            s = two_opt(schedule, i, j)
            t = sum(s.values)
            if schedule_time(best_schedule)> t:
                best_time = t.copy()
                best_schedule = cities_list(s) 
    df[day] = pd.Series(best_schedule)       
df.to_csv('../Dati/turni_f/2-opt1_shifts.csv', index=False, sep=";")

lunedi
0     Cremona, sesto 39
1              sesto ed
2              grumello
3              SORESINA
4               TRIGOLO
5           CASTELLEONE
6             MONTODINE
7      ripalta cremasca
8               RICENGO
9              SERGNANO
10      CASALE CREMASCO
11             CAMISANO
12             CAPRALBA
13              SONCINO
14        pizzighettone
15              Ostiano
dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
martedi
0             Cremona, sesto 39
1      Cremona, Ugolani Dati, 4
2                Persico Dosimo
3                       Ostiano
4                  San giovanni
5     Scandolara Ravara, Italia
6                 Casalmaggiore
7              Casalpusterlengo
8               Crema, Civerchi
9                       Vailate
10                      Ostiano
dtype: object
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
mercoledi
0     Cremona, sesto 39
1           Castelverde
2               Annicco
3           Castelleone
4             Madignano
5                 Crema
6       Palazzo Pignano
7               Pandino
8        Rivolta D'adda
9          Spino d'adda
10            Romanengo
11              Ostiano
dtype: object
giovedi
0            Cremona, sesto 39
1               Cremona, sesto
2     Cremona, Ugolani Dati, 4
3               persico dosimo
4                    grontardo
5                    vescovato
6                      ostiano
7               isola dovarese
8                      piadena
9                 san giovanni
10               casalmaggiore
11                    manerbio
12                       izano
13                   offanengo
14          Crema, Civerchi, 9
15                     Ostiano
dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
venerdi
0     Cremona, sesto 39
1       crema, civerchi
2          Capergnanica
3               bagnolo
4                vaiano
5        monte cremasco
6                dovera
7               pandino
8             agnadello
9        rivolta d'adda
10         spino d'adda
11             trescore
12            casaletto
13              Ostiano
dtype: object
0
1
2
3
4
5
6
7
8
9
10
11
12

In [304]:
#for i in range(1, len(route)-2):
#              for j in range(i+1, len(route)):
week= ['martedi', 'mercoledi', 'giovedi']
df = pd.DataFrame({})
for day in week:
    print(day)
    schedule = pd.Series('Cremona, sesto 39')
    schedule = schedule.append(fur2[day].dropna(), [1, len(fur1)])
    schedule = schedule.append(pd.Series('san giovanni in croce' , [len(schedule)]))
    print(schedule)
    best_schedule = pd.Series(schedule.dropna())
    best_time = schedule_time(schedule)
    for i in range(1, len(schedule)-2):
        for j in range(i+1, len(schedule)-1):
            s = two_opt(schedule, i, j)
            t = sum(s.values)
            if schedule_time(best_schedule)> t:
                best_time = t.copy()
                best_schedule = cities_list(s) 
                if day == 'giovedi' : 
                    print(best_schedule)
    df[day] = pd.Series(best_schedule)       
df.to_csv('../Dati/turni_f/2-opt2_shifts.csv', index=False, sep=";")

martedi
0                 Cremona, sesto 39
1     Cremona, Felice Cavallotti, 2
2                         Bonemerse
3                           Sospiro
4                         Pescarolo
5                         Vescovato
6                           Gadesco
7                           Piadena
8                          Solarolo
9                           Gussola
10                  RIVAROLO DEL RE
11                          Viadana
12                         MANERBIO
13                        Offanengo
14                         Pianengo
15                     san giovanni
dtype: object
mercoledi
0    Cremona, sesto 39
1     Cremona, Palosca
2         Casalbuttano
3             Soresina
4              Paderno
5          San Bassano
6               Fiesco
7              Soncino
8         san giovanni
dtype: object
giovedi
0        Cremona, sesto 39
1    Cremona, Ugolani Dati
2                  gadesco
3                pescarolo
4                   cingia
5                 solarolo
6               martignana
7            pizzighettone
8             san giovanni
dtype: object
['Cremona, Sesto 39', 'Cremona, Ugolani Dati, 4', 'Martignana di Po, Libertà, 64', 'Solarolo Rainerio, Giuseppina, 81', "Cingia de' Botti, Giuseppina, 79", 'Pescarolo ed Uniti, Giuseppe Mazzini, 73', 'Gadesco', 'Pizzighettone, Giuseppe Garibaldi, 18', 'San Giovanni in Croce, Feudatari, 25 A']
['Cremona, Sesto 39', 'Cremona, Ugolani Dati, 4', 'Pizzighettone, Giuseppe Garibaldi, 18', 'Martignana di Po, Libertà, 64', 'Solarolo Rainerio, Giuseppina, 81', "Cingia de' Botti, Giuseppina, 79", 'Pescarolo ed Uniti, Giuseppe Mazzini, 73', 'Gadesco', 'Pieve Delmona, Giovanni Lonati 9']

In [296]:
print(best_schedule)

['Cremona, Sesto 39', 'Sesto ed Uniti, Roma, 4', 'Grumello Cremonese ed Uniti, Roma, 2', 'Soresina, Giacomo Matteotti, 6', 'Trigolo, Roma, 26', 'Soncino, Dante Alighieri, 23', 'Capralba, Piave, 2', 'Camisano, Trieste, 57', 'Casale Cremasco', 'Sergnano, IV Novembre,  10', 'Ricengo, Guglielmo Marconi', 'Ripalta Cremasca, Roma, 5', 'Montodine,  XXV Aprile, 10', 'Castelleone, Roma, 67', 'Pizzighettone, Giuseppe Garibaldi, 18', 'Ostiano, Mazzini, 1']